<div class="board" ng-class="{active: game.started}">
		<div class="view overview">
			<div class="board-header">
				<div class="board-title">Inside the ’Box Trivia </div>
				<ul class="board-instructions">
					<li>
						<img src="/images/board/mobile.png" height="100">
						<div>Go to<br /><u>http://ten.springbox.com</u></div>
					</li>
					<li>
						<img src="/images/board/camera.png" height="100">
						<div>Enter your name<br /> and take a quick selfie.</div>
					</li>
					<li>
						<img src="/images/board/clock.png" height="100">
						<div>Wait for the <br />game to start.</div>
					</li>
				</ul>
			</div>
			<div class="user-list">
				<ul>
					<li ng-repeat="user in displayedUsers" class="user" ng-class="getAvatarClass($index)">
						<div class="user-avatar hasAvatar" ng-if="user.avatar" ng-style="{'background-image':'url('+user.avatar+')'}"></div>
						<div class="user-avatar" ng-if="!user.avatar"></div>
						<div class="user-name">{{user.username}}</div>
					</li>
				</ul>
			</div>
			<div class="board-footer">
				<leaderboard users="users"></leaderboard>
				<div class="board-logo"><img src="images/board/logo.png" /></div>
				<div class="game-countdown">
					<span class="message" ng-show="!game.startTime">Waiting for Players</span>
					<span class="message" ng-show="game.startTime">Next Game Starts In<br><span countdown="game.startTime" base="game.currentTime"></span></span>
				</div>
			</div>
		</div>
		<div class="view current-game">
			<div question="question" correct-answer="correctAnswer"></div>
			<leaderboard users="gameScores"></leaderboard>
		</div>
	</div>
</div>