<div class="board">
	<div class="instructions">ten.springbox.com</div>
	<ul>
		<li ng-repeat="user in users" class="user">
			<div class="user-image">
				<div ng-if="user.avatar" ng-style="{'background-image':'url('+user.avatar+')'}"></div>
			</div>
			<div class="user-score"><span class="inner">{{user.score}}<span class="label"><ng-pluralize count="user.score" when="{'one':'point', 'other':'points'}"></ng-pluralize></span></span></div>
			<div class="user-name">{{user.username}}</div>
		</li>
	</ul>
</div>