<div class="home">
	<sbx-header></sbx-header>
	<div class="instructions" ng-if="!game">
	    <span>Loading...</span>
	</div>

	<div class="game-status">
		

		<div class="game-name">
			Springbox Trivia

			<div class="count" ng-if="game.startTime && !game.started">Game Starts in <div countdown="game.startTime" base="game.currentTime"></div></div>
			<div class="count" ng-if="!game.startTime">Waiting for Players...</div>
		</div>
		<div countdown-chart="game.startTime" base="game.currentTime"></div>
	</div>

	<div class="game-container">
		<hr>
		<a ng-href="#/game/{{game.id}}" ng-if="!game.started" class="button">
			Let's Play
		</a>
		<span ng-href="#/game/{{game.id}}" ng-if="game.started" class="button disabled">
			Game in Progress
		</span>
	</div>
	<!-- <div class="logout"><a href ng-click="logout()">Logout</a></div> -->
</div>