<div class="home">
	<div class="instruction">
	    <span ng-if="!games">Loading...</span>
	    <!-- <span ng-if="!games.started">Join a Game</span> -->
	    <!-- <span ng-if="!games.started">No Games Available</span> -->
	</div>
	<div class="list">
	    <ul class="list-container">

	   	 <!-- Existing Game -->
	      <li class="list-item" ng-repeat="game in games">
	      	<a ng-href="#/game/{{game.id}}" ng-if="!game.started" class="list-link">
	      		<span class="count">{{game.users.length}}</span>
	      		Join The Game
	      	</a>
	      	<span ng-if="game.started" class="list-link">
	      		Game in Progress
	      	</span>
	      </li>
<!-- 
	      <li class="list-item list-item-action" ng-if="!game.started">
	        <a href>Join Game</a>
	      </li> -->
	    </ul>
	</div>
</div>