<div class="home">
	<div class="instructions">
	    <span ng-if="!games">Loading...</span>
	    <span ng-if="games.length">Select a Game</span>
	    <!-- <span ng-if="!games.started">No Games Available</span> -->
	</div>
	<div class="list">
	    <ul class="list-container">

	   	 <!-- Existing Game -->
	      <li class="list-item" ng-repeat="game in games">
	      	<a ng-href="#/game/{{game.id}}" ng-if="!game.started" class="list-link">
	      		<div class="count">{{game.users.length}} <span class="players"><ng-pluralize count="game.users.length" when="{'one':'player', 'other':'players'}"></ng-pluralize></span></div>
	      		<div class="name">Springbox Trivia</div>
	      		<div class="status" ng-show="!game.startTime">Waiting for Players...</div>
	      		<div class="status" ng-show="game.startTime">Games Starts in <span countdown="game.startTime"></span></div>
	      		
	      	</a>
	      	<span ng-if="game.started" class="list-link">
	      		<div class="name">Game in Progress</div>
	      	</span>
	      </li>

	</div>
</div>