* {
	box-sizing: border-box;
}

body {
	background: #EEE;
	color: RGBA(255, 255, 255, 1);
	font-family: sans-serif;
  color: #000;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}