* {
	box-sizing: border-box;
}

body {
	background: $bgColor;
	color: RGBA(255, 255, 255, 1);
	font-family: "proxima-nova",sans-serif;
  font-weight: 100;
  color: #000;
}

.content {
  // padding-top: 50px;
  transition: all .3s;

  &.ng-enter .game {
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
  }

  &.ng-enter-active .game {
    transform: translateY(0);
  }

  &.ng-leave .game {
    transform: translateY(0);
    transition: transform .3s ease-in-out;
    z-index: 3;
  }

  &.ng-leave-active .game {
    transform: translateY(100%);
  }

}

.instructions {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background: $bgAccentColor;
  color: #FFF;
  line-height: 135%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

