* {
	box-sizing: border-box;
}

body {
	background: #FFF;
	color: RGBA(255, 255, 255, 1);
	font-family: "proxima-nova",sans-serif;
  color: #000;
}

.content {
  padding-top: 50px;
}

.instructions {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background: RGBA(8, 58, 81, .8);
  text-shadow: 0 -1px rgba(0,0,0,1);
  color: #FFF;
  line-height: 135%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}