.board {

	.user {
		float: left;
		text-align: center;
		position: relative;
	}
	
	.user-image {
		width: 160px;
		height: 160px;
		border-radius: 50% 50%;
		overflow: hidden;
		margin: 20px 40px;
		background: #FFF url(../images/male18.png) no-repeat;
		border: 1px solid #DDD;
		background-size: contain;
		

		div {
			width: 100%;
			height: 100%;
			background-position: center center;
			background-size: cover;
		}
	}

	.user-name {
		font-size: 25px;
	}	

	.user-score {
		position: absolute;
		top: 100px;
		left: 150px;
		width: 80px;
		height: 80px;
		background: RGBA(238, 90, 34, .95);
		border-radius: 50% 50%;
		color: #fff;
		font-size: 20px;
		text-align: center;
		box-shadow: -3px 1px 3px rgba(0,0,0,.4);

		.inner {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.label {
			display: block;
			font-size: 12px;
		}
	}
}