.game {
	
	.question-text {
		text-align: center;
		padding: 20px;
		border-bottom: 1px solid rgba(0,0,0,.2);
	}

	.option-link {
		display: block;
		text-decoration: none;
		background: #EE5a22;
		// border-radius: 10px;
		padding: 15px;
		margin: 15px;
		border: 2px solid transparent;
		color: #FFF;

		&.selected {
			border: 2px solid #333;
		}

		&.incorrect {
			opacity: .5;
		}

		&.incorrect.selected {
			border-color: #CC0000;
		}

		&.correct {
			border-color: green;
		}
	}

}