header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #1d1d1d;
	color: #FFF;

	.logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 140px;
	}

	.file-uploader {
		width: 30px;
		height: 30px;
		border-radius: 15px;
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		overflow: hidden;
		background-color: #1d1d1d;
		background-size: contain;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.user-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
	}

	.no-avatar .file-uploader {
		animation: shake 10s infinite linear;
		background: #FFFFFF  url(../images/small35.png) center center no-repeat;
		background-size: contain;
	}
}

@keyframes shake {
	0%, 30% { transform: translateY(-50%) rotate(0deg); }
	31% { transform: translateY(-50%) rotate(10deg); }
	32%	 { transform: translateY(-50%) rotate(-10deg); }
	33% { transform: translateY(-50%) rotate(10deg); }
	34%	 { transform: translateY(-50%) rotate(-10deg); }
	35% { transform: translateY(-50%) rotate(10deg); }
	36%	 { transform: translateY(-50%) rotate(-10deg); }
	37%, 100% { transform: translateY(-50%) rotate(0deg); }
}