<div class="game">
	<div class="instructions" ng-if="!game.started">
		<span ng-show="!game.startTime">Waiting for More Players</span>
		<span ng-show="game.startTime">Game Starts In<br><span countdown="game.startTime"></span></span>
	</div>
	<div class="questions" ng-show="question">
		<div class="question-text instructions">{{question.text}}</div>
		<div class="question-image" ng-if="question.image"><img ng-src="{{question.image}}"></div>
		<ul class="options">
			<li ng-repeat="option in question.options" class="option-item"><a href ng-click="selectAnswer($index)" class="option-link" ng-class="{'selected':$index===selectedAnswer, 'correct': correctAnswer>=0 && correctAnswer===$index, 'incorrect': correctAnswer!==false && correctAnswer!==$index }"><span class="option-text">{{option.text}}</span></a></li>
		</ul>
	</div>
</div>