<div class="game">
	<div class="instructions">
		<span ng-if="!game.started">Waiting for the game to start</span>
	</div>
	<div class="questions">
		<div class="question-text">{{question.text}}</div>
		<ul class="options">
			<li ng-repeat="option in question.options" class="option-item"><a href ng-click="selectAnswer($index)" class="option-link" ng-class="{'selected':$index==selectedAnswer, 'correct': correctAnswer && correctAnswer==$index, 'incorrect': correctAnswer && correctAnswer!==$index }">{{option.text}}</a></li>
		</ul>
	</div>
</div>