<div class="game enter-slide-up {{answerClass}}">
	<div class="card">
		<div class="instructions" ng-if="!game.started">
			<span ng-show="!game.startTime">Waiting for More Players</span>
			<span ng-show="game.startTime">Game Starts In<br><span countdown="game.startTime" base="game.currentTime"></span></span>
		</div>
		<div question="question" correct-answer="correctAnswer" selected-answer="selectedAnswer" select-answer="selectAnswer(selectedAnswer)"></div>
	</div>
	<div class="result" ng-show="game.started && correctAnswer!==false">
		<div ng-show="answerClass === 'correct'" class="result-content">
			<img ng-src="/images/game/correct.png" class="icon" alt="">
		</div>
		<div ng-hide="answerClass === 'correct'" class="result-content">
			<img ng-src="/images/game/incorrect.png" class="icon" alt="">
		</div>
	</div>
</div>